html {
	font-family:sans-serif;
	line-height:1.15;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
}

body {
	margin:0;
}

article,aside,footer,header,nav,section {
	display:block;
}

h1 {
	font-size:2em;
	margin:.67em 0;
}

figcaption,figure,main {
	display:block;
}

figure {
	margin:1em 40px;
}

hr {
	box-sizing:content-box;
	overflow:visible;
}

pre {
	font-family:monospace,monospace;
	font-size:1em;
}

a {
	background-color:transparent;
	-webkit-text-decoration-skip:objects;
}

abbr[title] {
	border-bottom:none;
	text-decoration:underline;
	text-decoration:underline dotted;
}

b,strong {
	font-weight:inherit;
	font-weight:bolder;
}

code,kbd,samp {
	font-family:monospace,monospace;
	font-size:1em;
}

dfn {
	font-style:italic;
}

mark {
	background-color:#ff0;
	color:#000;
}

small {
	font-size:80%;
}

sub,sup {
	font-size:75%;
	line-height:0;
	position:relative;
	vertical-align:baseline;
}

sub {
	bottom:-.25em;
}

sup {
	top:-.5em;
}

audio,video {
	display:inline-block;
}

audio:not([controls]) {
	display:none;
	height:0;
}

img {
	border-style:none;
}

svg:not(:root) {
	overflow:hidden;
}

button,input,optgroup,select,textarea {
	font-family:sans-serif;
	font-size:100%;
	line-height:1.15;
}

button,input {
	overflow:visible;
}

/* 1 */
[type=reset],[type=submit],button,html [type=button] {
	-webkit-appearance:button;
}

[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring {
	outline:1px dotted ButtonText;
}

fieldset {
	border:1px solid silver;
	margin:0 2px;
	padding:.35em .625em .75em;
}

legend {
	box-sizing:border-box;
	display:table;
}

progress {
	display:inline-block;
}

[type=checkbox],[type=radio] {
	box-sizing:border-box;
	padding:0;
}

[type=search] {
	-webkit-appearance:textfield;
}

/* 1 */
menu,details {
	display:block;
}

canvas {
	display:inline-block;
}

[hidden] {
	display:none;
}

html {
	line-height:1.5;
	font-weight:200;
}

h1,h2,h3,h4,h5,h6 {
	font-weight:200;
	line-height:1.25;
	margin:.75em 0;
}

h1 {
	font-size:3rem;
}

h2 {
	font-size:2.25rem;
}

h3 {
	font-size:1.5rem;
}

h4 {
	font-size:1.25rem;
}

h5 {
	font-size:1rem;
}

h6 {
	font-size:.875rem;
}

b,strong {
	font-weight:500;
}

hr {
	border:0;
	height:0;
	border-bottom:1px solid #e7e9ef;
	margin:2rem 0;
}

a {
	color:#00b0eb;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

a:focus {
	outline:1px dotted currentColor;
	outline-offset:.125rem;
}

a:active,a:hover {
	outline-width:0;
}

address {
	font-style:normal;
}

blockquote {
	margin:1em 0;
}

abbr[title],acronym[title] {
	border-bottom:1px dotted #8592ad;
	text-decoration:none;
	cursor:help;
}

code,kbd,pre,samp,tt {
	letter-spacing:normal;
	font-size:.875em;
	font-family:Menlo,Consolas,Monaco,monospace;
	font-weight:400;
}

code,kbd,samp,tt {
	display:inline-block;
	background-color:rgba(0,7,20,.05);
	border:1px solid rgba(0,7,20,.05);
	padding:0 .25rem;
	border-radius:.25rem;
}

pre code {
	background-color:transparent;
	border:none;
	display:block;
	padding:0;
}

dt {
	font-weight:500;
}

dd {
	margin-left:0;
	margin-bottom:1em;
}

dl,ol,ul {
	margin:1em 0;
}

ol,ul {
	padding-left:2em;
}

ol ol,ol ul,ul ol,ul ul {
	margin:0;
}

mark {
	background-color:#ffe96b;
	color:inherit;
}

::-moz-selection {
	background:#adebff;
}

::selection {
	background:#adebff;
}

table {
	font-weight:200;
	border-collapse:collapse;
}

caption {
	padding-top:.5rem;
	padding-bottom:.5rem;
	font-size:.875rem;
	caption-side:bottom;
}

caption,th {
	text-align:left;
}

th {
	font-weight:500;
}

label {
	display:inline-block;
	margin-bottom:.5rem;
}

button:focus {
	outline:1px dotted;
	outline:5px auto -webkit-focus-ring-color;
}

button,input,optgroup,select,textarea {
	margin:0;
	font-family:inherit;
	font-size:inherit;
	line-height:inherit;
}

button,select {
	text-transform:none;
}

[type=reset],[type=submit],button,html [type=button] {
	-webkit-appearance:button;
}

[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner {
	padding:0;
	border-style:none;
}

input[type=checkbox],input[type=radio] {
	box-sizing:border-box;
	padding:0;
}

input[type=date],input[type=datetime-local],input[type=month],input[type=time] {
	-webkit-appearance:listbox;
}

textarea {
	overflow:auto;
	resize:vertical;
}

fieldset {
	min-width:0;
	padding:0;
	margin:0;
	border:0;
}

legend {
	display:block;
	width:100%;
	max-width:100%;
	padding:0;
	margin-bottom:.5rem;
	font-size:1.5rem;
	line-height:inherit;
	color:inherit;
	white-space:normal;
}

progress {
	vertical-align:baseline;
}

[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button {
	height:auto;
}

[type=search] {
	outline-offset:-2px;
	-webkit-appearance:none;
}

[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration {
	-webkit-appearance:none;
}

::-webkit-file-upload-button {
	font:inherit;
	-webkit-appearance:button;
}

output {
	display:inline-block;
}

summary {
	display:list-item;
}

template {
	display:none;
}

.k--badge {
	background-color:#9aa5bc;
	border-radius:9999px;
	font-size:.75rem;
	font-weight:500;
	line-height:1;
	padding:.25rem .5rem;
}

.k--badge,[class*=k--button] {
	color:#fff;
	display:inline-block;
}

[class*=k--button] {
	background-color:transparent;
	border:1px solid transparent;
	border-radius:.25rem;
	cursor:pointer;
	font-size:.875rem;
	font-weight:400;
	letter-spacing:-.02em;
	line-height:1.5;
	padding:.5rem 1rem;
	text-align:center;
	-webkit-transition:all .15s ease-in-out;
	transition:all .15s ease-in-out;
	vertical-align:middle;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	white-space:nowrap;
}

[class*=k--button],[class*=k--button]:focus,[class*=k--button]:hover {
	text-decoration:none;
}

.k--button {
	background-color:#fff;
	color:#29303d;
	border-color:#c2c9d6;
}

.k--button.k--active,.k--button:active,.k--button:hover {
	background-color:#e7e9ef;
	color:#29303d;
	opacity:1;
}

.k--button:focus {
	box-shadow:0 0 0 .125rem rgba(5,176,235,.3);
	outline:none;
	border-color:#00b0eb;
}

.k--button-primary {
	background-color:#00b0eb;
	color:#fff;
}

.k--button-primary.k--active,.k--button-primary:active,.k--button-primary:hover {
	color:#fff;
	opacity:.85;
}

.k--button-primary:focus {
	border-color:rgba(0,7,20,.2)!important;
	box-shadow:0 0 0 .125rem rgba(5,176,235,.3);
	outline:none;
}

.k--button-danger-primary {
	background-color:#ff4d5b;
	color:#fff;
}

.k--button-danger-primary.k--active,.k--button-danger-primary:active,.k--button-danger-primary:hover {
	color:#fff;
	opacity:.85;
}

.k--button-danger-primary:focus {
	border-color:rgba(0,7,20,.2)!important;
	box-shadow:0 0 0 .125rem rgba(255,77,91,.3);
	outline:none;
}

.k--button-danger {
	border-color:currentColor;
	color:#ff4d5b;
}

.k--button-danger.k--active,.k--button-danger:active,.k--button-danger:hover {
	background-color:#ffdfdf;
	opacity:1;
}

.k--button-danger:focus {
	box-shadow:0 0 0 .125rem rgba(255,77,91,.3);
	outline:none;
}

.k--button-secondary {
	border-color:currentColor;
	color:#00b0eb;
}

.k--button-secondary.k--active,.k--button-secondary:active,.k--button-secondary:hover {
	background-color:#d4f4ff;
	opacity:1;
}

.k--button-secondary:focus {
	box-shadow:0 0 0 .125rem rgba(5,176,235,.3);
	outline:none;
}

.k--button-link {
	border-color:transparent;
	color:#00b0eb;
	padding:.5rem;
	-webkit-transition:none;
	transition:none;
}

.k--button-link.k--active,.k--button-link:active,.k--button-link:hover {
	background-color:transparent;
	opacity:1;
	text-decoration:underline;
}

.k--button-link:focus {
	border-color:transparent;
	outline:none;
	text-decoration:underline;
}

[class*=k--button].k--disabled,[class*=k--button].k--disabled:focus,[class*=k--button].k--disabled:hover,[class*=k--button][disabled],[class*=k--button][disabled]:focus,[class*=k--button][disabled]:hover {
	background-color:#f3f4f7;
	box-shadow:none;
	border-color:#e7e9ef;
	color:#c2c9d6;
	cursor:default;
	opacity:1;
}

.k--button-small {
	font-size:.75rem;
	padding:.25rem .5rem;
}

.k--button-large {
	font-size:1rem;
	line-height:1;
	padding:1rem 2rem;
}

.k--button-black {
	font-weight:300;
	padding:.5rem 1rem;
	border-radius:.125rem;
	border:none;
	-webkit-transition:background-color .15s,color .15s;
	transition:background-color .15s,color .15s;
	color:#fff;
	background-color:#080a0c;
}

.k--button-black:disabled {
	background-color:rgba(0,7,20,.1);
	color:rgba(0,7,20,.3);
}

.k--button-dark-gray {
	font-weight:300;
	padding:.5rem 1rem;
	border-radius:.125rem;
	border:none;
	-webkit-transition:background-color .15s,color .15s;
	transition:background-color .15s,color .15s;
	color:#fff;
	background-color:#679;
}

.k--button-dark-gray:disabled {
	background-color:rgba(0,7,20,.1);
	color:rgba(0,7,20,.3);
}

.k--button-light-gray {
	font-weight:300;
	padding:.5rem 1rem;
	border-radius:.125rem;
	border:none;
	-webkit-transition:background-color .15s,color .15s;
	transition:background-color .15s,color .15s;
	color:#1d212b;
	background-color:#e7e9ef;
}

.k--button-light-gray:disabled {
	background-color:rgba(0,7,20,.1);
	color:rgba(0,7,20,.3);
}

.k--button-white {
	font-weight:300;
	padding:.5rem 1rem;
	border-radius:.125rem;
	border:none;
	-webkit-transition:background-color .15s,color .15s;
	transition:background-color .15s,color .15s;
	color:#00b0eb;
	background-color:#fff;
}

.k--button-white:disabled {
	background-color:rgba(0,7,20,.1);
	color:rgba(0,7,20,.3);
}

.k--button-red {
	font-weight:300;
	padding:.5rem 1rem;
	border-radius:.125rem;
	border:none;
	-webkit-transition:background-color .15s,color .15s;
	transition:background-color .15s,color .15s;
	color:#fff;
	background-color:#ff4d5b;
}

.k--button-red:disabled {
	background-color:rgba(0,7,20,.1);
	color:rgba(0,7,20,.3);
}

.k--button-orange {
	font-weight:300;
	padding:.5rem 1rem;
	border-radius:.125rem;
	border:none;
	-webkit-transition:background-color .15s,color .15s;
	transition:background-color .15s,color .15s;
	color:#fff;
	background-color:#ff6300;
}

.k--button-orange:disabled {
	background-color:rgba(0,7,20,.1);
	color:rgba(0,7,20,.3);
}

.k--button-yellow {
	font-weight:300;
	padding:.5rem 1rem;
	border-radius:.125rem;
	border:none;
	-webkit-transition:background-color .15s,color .15s;
	transition:background-color .15s,color .15s;
	color:#1d212b;
	background-color:#ffd700;
}

.k--button-yellow:disabled {
	background-color:rgba(0,7,20,.1);
	color:rgba(0,7,20,.3);
}

.k--button-purple {
	font-weight:300;
	padding:.5rem 1rem;
	border-radius:.125rem;
	border:none;
	-webkit-transition:background-color .15s,color .15s;
	transition:background-color .15s,color .15s;
	color:#fff;
	background-color:#6262d9;
}

.k--button-purple:disabled {
	background-color:rgba(0,7,20,.1);
	color:rgba(0,7,20,.3);
}

.k--button-pink {
	font-weight:300;
	padding:.5rem 1rem;
	border-radius:.125rem;
	border:none;
	-webkit-transition:background-color .15s,color .15s;
	transition:background-color .15s,color .15s;
	color:#fff;
	background-color:#ff80cc;
}

.k--button-pink:disabled {
	background-color:rgba(0,7,20,.1);
	color:rgba(0,7,20,.3);
}

.k--button-green {
	font-weight:300;
	padding:.5rem 1rem;
	border-radius:.125rem;
	border:none;
	-webkit-transition:background-color .15s,color .15s;
	transition:background-color .15s,color .15s;
	color:#fff;
	background-color:#00d17d;
}

.k--button-green:disabled {
	background-color:rgba(0,7,20,.1);
	color:rgba(0,7,20,.3);
}

.k--button-blue {
	font-weight:300;
	padding:.5rem 1rem;
	border-radius:.125rem;
	border:none;
	-webkit-transition:background-color .15s,color .15s;
	transition:background-color .15s,color .15s;
	color:#fff;
	background-color:#00b0eb;
}

.k--button-blue:disabled {
	background-color:rgba(0,7,20,.1);
	color:rgba(0,7,20,.3);
}

.k--group {
	display:-webkit-inline-box;
	display:-ms-inline-flexbox;
	display:inline-flex;
}

.k--group * {
	position:relative;
	z-index:0;
}

.k--group :active,.k--group :focus {
	z-index:2;
}

.k--group :first-child {
	border-bottom-right-radius:0;
	border-top-right-radius:0;
}

.k--group :last-child {
	border-bottom-left-radius:0;
	border-top-left-radius:0;
}

.k--group :not(:first-child) {
	margin-left:-1px;
}

.k--group :not(:first-child):not(:last-child) {
	border-radius:0;
}

[class^=k--label] {
	display:block;
	font-size:.875rem;
	font-weight:400;
	margin-bottom:.5rem;
}

.k--input,.k--select,.k--textarea {
	background-image:none;
	background-clip:padding-box;
	background-color:#fff;
	border:1px solid #c2c9d6;
	border-radius:.25rem;
	color:#679;
	display:block;
	font-size:.875rem;
	font-weight:200;
	letter-spacing:-.02em;
	line-height:1.5;
	padding:.5rem;
	-webkit-transition:all .15s ease-in-out;
	transition:all .15s ease-in-out;
	width:100%;
}

select.k--input,select.k--select {
	cursor:pointer;
	height:calc(1.5 * .875rem + 1rem + 2px);
}

.k--input-small,.k--select-small {
	font-size:.75rem;
	padding-bottom:.25rem;
	padding-top:.25rem;
}

select.k--input-small,select.k--select-small {
	height:calc(1.5 * .75rem + .5rem + 2px);
}

.k--input-large,.k--select-large {
	font-size:1rem;
	line-height:1;
	padding-bottom:1rem;
	padding-top:1rem;
}

.k--input-large,.k--select-large,select.k--input-large,select.k--select-large {
	height:calc(1 * 1rem + 2rem + 2px);
}

.k--input::-webkit-input-placeholder {
	color:#c2c9d6;
}

.k--input:-ms-input-placeholder {
	color:#c2c9d6;
}

.k--input::placeholder {
	color:#c2c9d6;
}

.k--textarea::-webkit-input-placeholder {
	color:#c2c9d6;
}

.k--textarea:-ms-input-placeholder {
	color:#c2c9d6;
}

.k--textarea::placeholder {
	color:#c2c9d6;
}

.k--input[readonly],.k--textarea[readonly] {
	background-color:#f3f4f7;
	border-color:#e7e9ef;
}

.k--input[readonly]:focus,.k--textarea[readonly]:focus {
	border-color:#c2c9d6;
	box-shadow:0 0 0 .125rem rgba(0,7,20,.05);
	background-color:#f3f4f7;
}

.k--input:disabled,.k--select:disabled,.k--textarea:disabled {
	background-color:#f3f4f7;
	border-color:#e7e9ef;
	color:#c2c9d6;
	cursor:default;
}

.k--input:focus,.k--select:focus,.k--textarea:focus {
	background-color:#fff;
	border-color:#00b0eb;
	outline:none;
	box-shadow:0 0 0 .125rem rgba(5,176,235,.3);
}

.k--form-help {
	color:#8592ad;
	display:block;
	font-size:.75rem;
	margin:.5rem 0;
}

.k--label-checkbox,.k--label-radio {
	cursor:pointer;
	color:#679;
	font-weight:200;
	padding-left:1.25rem;
}

.k--label-checkbox input,.k--label-radio input {
	cursor:pointer;
	margin-left:-1.25rem;
	margin-right:.25rem;
}

.k--label-radio.k--disabled {
	color:#c2c9d6;
	cursor:default;
}

.k--label-radio.k--disabled input {
	cursor:default;
}

.k--label-checkbox.k--disabled {
	color:#c2c9d6;
	cursor:default;
}

.k--label-checkbox.k--disabled input {
	cursor:default;
}

.k--modal-wrapper {
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
}

.k--modal-overlay {
	position:absolute;
	height:100%;
	width:100%;
	background-color:rgba(0,7,20,.8);
}

.k--modal-content {
	position:absolute;
	display:inline-block;
	top:50%;
	left:50%;
	-webkit-transform:translateX(-50%) translateY(-50%);
	transform:translateX(-50%) translateY(-50%);
	box-shadow:2px 2px 8px 0 rgba(0,0,0,.2);
}
